@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;500;600&family=Noto+Sans&display=swap');

*{
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
    box-sizing: border-box;
}
button{
    border: none;
}
html{
    font-size: 62.5%;
}
body{
    background: white;
    width: 100vw;
    height: 80vh;
}
header{
    width: 100%;
    background: transparent;
    padding: 5px;
    box-shadow: 0 3px 15px rgb(0, 0, 0, .2);
    box-sizing: border-box;
}
header div.center{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 88%;
    margin: auto;
}
header div.center h1{
    width: 200px;
}
header div.center h1 img{
    width: 100%;
}
header div.center a{
    color: #0084ff;
    padding: 7px 15px;
    font-size: 1.7rem;
    border-radius: 100px;
    border: 2px solid #0084ff;
    text-decoration: none;
    font-weight: bold;
    cursor: pointer;
    transition: .2s;
    background: transparent;
}
header div.center a:hover{
    color: white;
    background: #0084ff;
    transition: .2s;
}
p.sucesso_index{
    position: absolute;
    top: 80px;
    left: 50%;
    transform: translateX(-50%);    
    color:black;
    font-weight: 500;
    font-size: 1.46rem;
    text-align: center;
    border-radius: 4px;
    padding: 5px 13px;
    background: #1efd957e;
    border: 1px solid green;
    z-index: 1111;
}
@media(max-width: 830px){
    header div.center{
        width: 97%;
    }
    html{
        font-size: 54%;
    }
    header div.center h1{
        width: 165px;
    }
}
@media(max-width: 520px){
    html{
        font-size: 48%;
    }
    header div.center h1{
        width: 125px;
    }
    header div.center a{
        border: none;
        padding: 0;
        text-decoration: underline;
    }
    header div.center a:hover{
        color: black;
        background: none;
    }
}
@media(max-width: 430px){
    html{
        font-size: 38%;
    }
    header div.center h1{
        width: 108px;
    }
}
