section.tabela{
    width: 90%;
    height: 100%;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}
section.tabela table,
section.tabela table thead,
section.tabela table tr,
section.tabela table th,
section.tabela table tbody{
    border-collapse: collapse;
}
section.tabela table{
    background: #0084ff;
    box-shadow: 3px 3px 14px rgb(0, 0, 0, .3);
    border-radius: 7px;
    overflow: hidden;
    position: absolute;
    top: 95px;
    margin-top: 45px;
}

section.tabela table thead{
    width: 200px;
    
}
section.tabela table thead th{
    text-align: left;
    margin: 0 10px;
    padding: 12px;
    font-weight: 600;
    font-size: 2rem;
    color: white;
}
section.tabela table thead th:first-child{
    padding-right: 100px;
}
section.tabela table tbody tr{
    background: white;
    padding: 5px;
}
section.tabela table tr:nth-child(even){
    background: #f0f0f0;
}
section.tabela table tbody td{
    font-size: 1.65rem;
    padding: 10px 15px;
    font-weight: 500;
    color: #404040;
}
section.tabela table tbody a.ver{
    color:#00a6ff;
    font-size: 2.35rem;
}
section.tabela table tbody a.editar{
    color:#f0d002;
    font-size: 2.35rem;
}
section.tabela table tbody a.excluir{
    color: #a40606;
    font-size: 2.35rem;
}
section.tabela table tbody a.ver:hover{
    color:#0073ff;
    font-size: 2.35rem;
}
section.tabela table tbody a.editar:hover{
    color:#ffea00;
    font-size: 2.35rem;
}
section.tabela table tbody a.excluir:hover{
    color:#fa0000;
    font-size: 2.35rem;
}
section.tabela table tbody td:first-child,
section.tabela table thead th:first-child{
    padding-left: 13px;
}


